{
  "holidays": [
    {
      "id": "1",
      "date": "2024-01-01",
      "name": "Новый год"
    },
    {
      "id": "2",
      "date": "2024-02-23",
      "name": "День защитника Отечества"
    },
    {
      "id": "3",
      "date": "2024-03-08",
      "name": "Международный женский день"
    }
  ]
}
